* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

strong {
  font-weight: 400;
  color: inherit;
}

ol,
ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

dl,
dt,
dd {
  color: inherit;
}

a,
button {
  font-family: inherit;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
textarea,
button,
select {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

img {
  display: block;
  width: 100%;
}

address {
  font-style: normal;
}

i {
  color: inherit;
  pointer-events: none;
}
